@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #56A23C;
  --secondary-green: #26813A;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: var(--primary-green);
  --color-secondary-green: var(--secondary-green);
  --color-white: var(--white);
  --font-primary: var(--font-inter-display);
  --font-secondary: var(--font-inter);
}

html {
  /* zoom: 80%; */
  /* Sets the page zoom to 80% for all browsers that support it */
}

/* body {
  background: linear-gradient(180deg, #010d01 0%, #013d14 30%, #397f2b 100%);
  background-attachment: fixed;
  min-height: 100vh;
  color: #fefefe;
  font-family: var(--font-inter-display), Arial, Helvetica, sans-serif;
} */

body {
  background: 
  linear-gradient(180deg, rgba(1, 13, 1, 0.9) 0%, rgba(1, 61, 20, 0.7) 30%, rgba(7, 72, 42, 0.9) 100%),
  url('/trade-bg.jpeg') center/cover no-repeat fixed;
  min-height: 100vh;
  color: #fefefe;
  font-family: var(--font-inter-display), Arial, Helvetica, sans-serif;
}


.font-primary {
  font-family: var(--font-inter-display), Arial, Helvetica, sans-serif;
}

.font-secondary {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
