@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #56A23C;
  --secondary-green: #26813A;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: var(--primary-green);
  --color-secondary-green: var(--secondary-green);
  --color-white: var(--white);
  --font-primary: var(--font-archivo);
  --font-secondary: var(--font-blinker);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), Arial, Helvetica, sans-serif;
}

.font-primary {
  font-family: var(--font-archivo), Arial, Helvetica, sans-serif;
}

.font-secondary {
  font-family: var(--font-blinker), Arial, Helvetica, sans-serif;
}
